.HamburgerMenu-modal {
    background-image: url(../images/HamburgerMenu/bg_sea.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.HamburgerMenu-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 20px;
    padding-right: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.HamburgerMenu-content ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}