@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

#navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#navbar-Bg {
	width: 100%;
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
}

#navbar #logo {
	margin: 10px 40px;
	z-index: 999;
}

#navbar #icon {
	display: flex;
	margin: 20px 40px;
	z-index: 999;
	gap: 20px;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	height: 100%;
}

@media screen and (min-width: 1440px) {
	.member-main {
		margin-top: 180px;
	}
}


#title-img {
	margin: 0;
	width: 30%;
}

#tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 30px 0;
	gap: 20px;
}

#tabs img {
	width: 100px;
}

/* 區塊 2：收藏活動 */
#title-Collection {
	color: #1684C8;
	margin-top: 20px;
	padding: 20px 0;
	padding-left: 12%;
	font-size: 28px;
}

#row-event_Card_Collection {
	padding: 20px 0;
	margin: 0 180px;
	gap: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#column-event_Card_Collection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#column-event_Card_Collection img {
	width: 100%;
	align-self: left;
}

#column-event_Card_Collection small {
	padding-left: 10px;
}

#column-event_Card_Collection h2 {
	font-size: 20px;
	color: #1684C8;
	margin: 10px 0 10px 0;
}

#column-event_Card_Collection #p-event-Price {
	padding-left: 20px;
}

#column-event_Card_Collection .p-article {
	color: #666;
	width: 90%;
	display: -webkit-box;
	/* 彈性盒子顯示方式 */
	-webkit-box-orient: vertical;
	/* 垂直方向 */
	-webkit-line-clamp: 3;
	/* 顯示的行數 */
	overflow: hidden;
	/* 隱藏溢出的內容 */
	text-overflow: ellipsis;
	/* 文字省略號 */
}

#event-Tags {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	color: #72B6E0;
}

hr {
	border: none;
	height: 2px;
	background-color: #DADADA;
	width: 78%;
}

#column-event_Card_Collection hr {
	width: 80%;
	margin: 10px 0;
	margin-right: auto;
}

#event-Tags {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	color: #72B6E0;
}

#event_Card_Collection_More {
	display: flex;
	justify-content: flex-end;
	padding-right: 12%;
}

.collect-img-container {
	position: relative;
	width: 100%;
	border-radius: 30px;
}

.collect-img-container img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.collect-img-container::before {
	border-radius: 30px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	/* 初始為透明 */
	transition: background-color 0.1s ease-in-out;
}

.collect-img-container:hover::before {
	z-index: 88;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.25);
}

.collect-img-container:active::before {
	z-index: 88;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.5);
}

.collect-img-container::after {
	content: '';
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 150px;
	height: 30px;
	background-image: url('./src/images/Event/more.svg');
	background-size: contain;
	/* 保持圖片比例 */
	background-repeat: no-repeat;
	opacity: 0;
	/* 初始狀態不可見 */
	transition: opacity 0.1s ease-in-out;
	z-index: 99;
}

.collect-img-container:hover::after {
	opacity: 1;
	/* hover 時顯示圖片 */
}