@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

#navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#navbar-Bg {
	width: 100%;
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
}

#navbar #logo {
	margin: 10px 40px;
	z-index: 999;
}

#navbar #icon {
	display: flex;
	margin: 20px 40px;
	z-index: 999;
	gap: 20px;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	height: 100%;
}

#title-img {
	margin: 0;
	width: 30%;
}

#tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 30px 0;
	gap: 20px;
}

#tabs img {
	width: 100px;
}

/* 區塊 2：收藏活動 */
#title-Collection {
	color: #1684C8;
	padding: 20px 0;
	padding-left: 10%;
	font-size: 24px;
}

#row-event_Card_Collection {
	padding: 20px 0;
	margin-left: 180px;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#column-event_Card_Collection {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#column-event_Card_Collection img {
	width: 86%;
}

#column-event_Card_Collection img {
	margin-bottom: 10px;
}

#column-event_Card_Collection small {
	padding-left: 10px;
}

#column-event_Card_Collection h2 {
	font-size: 18px;
	color: #1684C8;
	margin: 10px 0 10px 10px;
}

#column-event_Card_Collection p1 {
	color: #666;
	padding-left: 16px;
}

#column-event_Card_Collection .p-article {
	color: #666;
	width: 80%;
	margin: 10px;
	display: -webkit-box;
	/* 彈性盒子顯示方式 */
	-webkit-box-orient: vertical;
	/* 垂直方向 */
	-webkit-line-clamp: 3;
	/* 顯示的行數 */
	overflow: hidden;
	/* 隱藏溢出的內容 */
	text-overflow: ellipsis;
	/* 文字省略號 */
}

#event-Tags {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	color: #72B6E0;
}

hr {
	border: none;
	height: 2px;
	background-color: #DADADA;
	width: 80%;
}

#column-event_Card_Collection hr {
	width: 80%;
	margin: 10px 0;
	margin-right: auto;
}

#event-Tags {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	color: #72B6E0;
}

#event_Card_Collection_More {
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
}