@charset "UTF-8";

#navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#navbar #logo {
    margin: 10px 40px;
}

#navbar #icon {
    display: flex;
    margin: 20px 40px;
    gap: 20px;
}

.main_Event {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../src/images/Event/Banner_EventBg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.eventBanner-Img {
    display: flex;
}

.season-event-carousel img {
    position: absolute;
    object-fit: cover;
    top: 28%;
    left: 46%;
    width: 28%;
    height: 52%;
    border-radius: 300px;
}

#season_Event {
    position: absolute;
    top: 40%;
    left: 6%;
    scale: 1.1;
}

.season-event-carousel-indicators {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 82%;
    left: 60%;
}


.comment-Card-row1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.comment-Card-row2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.comment-Card {
    flex-shrink: 0;
    /* 防止卡片被壓縮 */
    width: 240px;
    height: 240px;
}

#comment-Card1 {
    background-image: url(../src/images/Event/comment_Card1.png);
}

#comment-Card2 {
    background-image: url(../src/images/Event/comment_Card2.png);
}

#comment-Card3 {
    background-image: url(../src/images/Event/comment_Card3.png);
}

.comment-Card {
    width: 240px;
    height: 240px;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.user-medal {
    position: absolute;
    top: -32%;
    left: 48%;
    scale: 0.5;
}

.comment-Card img {
    width: 100%;
    margin-top: 5px;
    padding: 0 40px;
}

.comment-title {
    margin-top: 30px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: #666;
}

.comment-content {
    padding: 0 20px;
    color: #666;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 輪播效果相關樣式 */

.comment-Card-row1 .slider-container,
.comment-Card-row2 .slider-container {
    gap: 50px;
    display: flex;
    width: fit-content;
    /* animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

.comment-Card-row1 .slider-container {
    animation: scrollLeft 40s linear infinite;
}

.comment-Card-row2 .slider-container {
    animation: scrollRight 40s linear infinite;
}

/* 向左滾動動畫 */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* 向右滾動動畫 */
@keyframes scrollRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

/* hover 暫停效果 */
.comment-Card-row1:hover .slider-container,
.comment-Card-row2:hover .slider-container {
    animation-play-state: paused;
}


.event {
    display: flex;
    flex-direction: column;
    margin: 120px;
}

#event-Type {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 70px;
}

#event-Type .filter-Button {
    margin-left: 150px;
    background: none;
    border: none;
}


@media screen and (max-width: 100px) {
    #event-Type .filter-Button {
        margin-left: 0px;
    }
}

#event-Type1:hover {
    background-image: url(../src/images/Event/event-Type1_hover.png);
}

#event-Type2:hover {
    background-image: url(../src/images/Event/event-Type2_hover.png);
}

#event-Type3:hover {
    background-image: url(../src/images/Event/event-Type3_hover.png);
}

.event #row-event_Card {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.event #row-event_Card hr {
    width: 100%;
    background-color: #DADADA;
}

.event #column-event_Card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* 確保超出範圍的內容不會顯示 */
}

.event #column-event_Card:hover {
    transform: translateY(-5px);
}

.event #column-event_Card:active {
    transform: translateY(0px);
}

.event #column-event_Card img {
    width: 100%;
    /* margin-bottom: 10px; */
    display: block;
    position: relative;
}

.event #column-event_Card small {
    padding-left: 13px;
}

.event #column-event_Card h2 {
    font-size: 20px;
    color: #1684C8;
    margin-bottom: 10px;
}

.event #column-event_Card p {
    color: #666;
    padding-left: 13px;
}

.img-container {
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.img-container::before {
    border-radius: 30px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* 初始為透明 */
    transition: background-color 0.1s ease-in-out;
}

.img-container:hover::before {
    z-index: 88;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.25);
}

.img-container:active::before {
    z-index: 88;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-container::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 30px;
    background-image: url(../src/images/Event/more.svg);
    background-size: contain;
    /* 保持圖片比例 */
    background-repeat: no-repeat;
    opacity: 0;
    /* 初始狀態不可見 */
    transition: opacity 0.1s ease-in-out;
    z-index: 99;
}

.img-container:hover::after {
    opacity: 1;
    /* hover 時顯示圖片 */
}

.event-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-buttons {
    display: flex;
    gap: 10px;
}

.signup-btn {
    background-color: #E2F1F9;
    color: #1684C8;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    width: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.signup-btn:hover {
    transform: translateY(-1px);
    background-color: #BEDFF4;
}

.signup-btn:active {
    /* 點擊時按鈕下沉，陰影變小 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.like-btn {
    background-color: #E2F1F9;
    color: #1684C8;
    font-size: large;
    padding: 5px 15px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    font-size: 16px;
}

.like-btn:hover {
    transform: translateY(-1px);
    background-color: #BEDFF4;
}

.like-btn:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
    color: #1684C8;
}

.event #event-Tags {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    color: #72B6E0;
}

#event-Tags .art_creation {
    color: #72B6E0;
}

#event-Tags .spiritual_journey {
    color: #EFC5C5;
}

#event-Tags .natural_healing {
    color: #ECA163;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .event #column-event_Card small {
        font-size: 10px;
        padding-left: 8px;
    }

    .event #column-event_Card h2 {
        font-size: 12px;
    }

    .signup-btn {
        font-size: 12px;
        padding: 5px 2px;
    }

    .season-event-carousel img {
        top: 24%;
        left: 50%;
        width: 30%;
        height: 48%;
    }

    .season-event-carousel-indicators {
        font-size: 9px;
        display: flex;
        gap: 20px;
        position: absolute;
        top: 76%;
        left: 64%;
    }

    .event #event-Tags {
        font-size: 9px;
        display: flex;
        gap: 10px;
        padding-left: 10px;
        color: #72B6E0;
    }

    .like-btn {
        padding: 1px 8px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
}